<section class="user-small-banner">
  <div class="user-title">
    ¡Bienvenido al panel de administrador, {{user.username}}!
  </div>
</section>

{{#each requests}}
  <div>
    <p>{{{username}}}</p>
    <p>{{subject}}</p>
    <p>{{message}}</p>
    <p>{{status}}</p>
  </div>
    <a href="admin/{{this.id}}/accept" class="btn btn-large">Aceptar solicitud</a>
    <a href="admin/{{this.id}}/deny" class="btn btn-large">Rechazar solicitud</a>
{{/each}}