<section class="user-small-banner">
  <div class="user-title">
    ¡Bienvenido al panel de administrador, {{user.username}}!
  </div>
</section>

<section class="white-section padding56">
  <div class="container">
{{#each requests}}
<div class="card">
  <p>{{{username}}}</p>
  <p>{{subject}}</p>
  <p>{{message}}</p>
  <p>{{status}}</p>

  <a href="admin/{{this.id}}/accept" class="megabutton color-success">Aceptar solicitud</a>
  <a href="admin/{{this.id}}/deny" class="megabutton color-danger">Rechazar solicitud</a>
</div>
{{/each}}
</div>
</section>