<h1>{{title}}</h1>

  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>

{{#if user}}
<div class="jumbtron">
  <h2>Hello {{user.username}}!</h2>
{{/if}}

<p>
  Status: {{user.role}}
</p>

<a href="/my-profile"> Go to my profile</a>

<div class="container" id="dog-container">
  <div class="row">
    {{#each dogs}}
    <div class="col-md-4">
    <a href="/dogs/{{_id}}"><h4>{{name}}</h4></a>
    <img src="{{picture_url}}" width="200"> 
    </div>
    {{/each}}
  </div>