<section class="user-small-banner">
  <div class="user-title">
    ¡Hola, {{user.username}}!
  </div>
</section>

<section class="white-section">
  <div class="container padding56">


    <div class="column2">
      Eres usuario desde el {{since}} {{#if center}}
      <h3>Actualmente, gestionas el siguiente centro:</h3>
      <p>
        <a href="/centers/{{center._id}}">{{center.name}}</a>

      </p>
      <table>
        <tr>
          <td>
            <a href="/centers/{{center._id}}">{{center.name}}</a>
          </td>
          <td>
            <span class="btn-primary color-success">
              <a href="/dogs/new">
                <i class="far fa-plus-square"></i>

                Añadir mascota</a>
            </span>
            <span class="btn-primary">
              <a href="/centers/{{center._id}}/edit">
                <i class="far fa-edit"></i>

                Editar</a>
            </span>
            <span class="btn-primary color-danger">
              <a href="/centers/{{center._id}}/edit">
                <i class="far fa-trash-alt"></i>

                Eliminar</a>
            </span>
          </td>

        </tr>
      </table>


    </div>




    {{/if}} {{#if user.isAdmin}}
    <a href="/my-profile/create-center"> Dar de alta un centro</a>

    <a href="/dogs/new">Registrar un perro</a>
    {{/if}}
  </div>
  </div>
</section>