<section class="center-small-banner">
  <div class="center-title">
    Estás editando {{center.name}}
  </div>
</section>

<section class="white-section padding56">
  <div class="container">

    <div class="column2 padding form-container">
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <form action="/centers/{{center.id}}/edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Nombre del centro</label>
          <input type="text" name="name" class="form-control" value="{{center.name}}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" value="{{center.email}}">
        </div>
        <div class="form-group">
          <label for="phone">Número de teléfono</label>
          <input type="text" name="phone" class="form-control" value="{{center.phone}}">
        </div>
        <div class="form-group">
          <label for="website_url">Enlace a página</label>
          <input type="text" name="website_url" class="form-control" value="{{center.website_url}}">
        </div>
        <div class="form-group">
        <label for="banner">Sube tu banner personalizado</label>
        <input type="file" class="form-control" name="banner" aria-describedby="banner">
        <small class="form-text text-muted">Resolución recomendada: 900x300</small>
      </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <br>
          <textarea name="description" class="form-control">{{center.description}}</textarea>
        </div>
        <button type="submit">Aceptar Cambios</button>
      </form>
    </div>
  </div>
</section>