<section class="center-small-banner">
  <div class="center-title">
    Centros de acogida.

  </div>
</section>

<<<<<<< HEAD
<section class="white-section padding56">
  <div class="container">
  <div class="column2">

  {{#each centerData}}
  <li><a href="/centers/{{this._id}}">{{this.name}}</a></li>

{{/each}}
</div>
</div>
</section>


<a href="/become-admin">Añadir mi centro al registro</a>
=======

<section class="white-section">
  <div class="container padding56">
    {{#each centerData}}
      <div class="card">
        <div class="picture" style="background-image:url('{{{this.logo_url}}}')"></div>
        <a href="/centers/{{this._id}}">{{this.name}}</a>
      </div>
    {{/each}}
  </div>    
</div>
</section>

  <section class="ad-section ">
    <div class="overlay">
    <div class="padding56">
        <span class="hero-title">¿Colaboras con<br>un centro de adopción?</span>
    </div>
    <div>
      <a class="btn-primary" href="/become-admin">Registra tu centro en Madrid Adopta</a>
    </div>
  </div>
  </section>



>>>>>>> abdallah

