<section class="center-small-banner">
  <div class="center-title">
    Centros de acogida.

  </div>
</section>


<section class="white-section">
  <div class="container padding56">
    {{#each centerData}}
    <div class="card">
      <div class="picture" style="background-image:url('{{{this.logo_url}}}')"></div>
      <a href="/centers/{{this._id}}">{{this.name}}</a>
      
      <div>
        {{this.address}}<br>
        {{this.phone}}
      </div>
    </div>
    <div>
      
    </div>
    {{/each}}
  </div>
  </div>
</section>

<section class="ad-section ">
  <div class="overlay">
    <div class="padding56">
      <span class="hero-title">¿Colaboras con
        <br>un centro de adopción?</span>
    </div>
    <div>
      <a class="btn-primary" href="/become-admin">Registra tu centro en Madrid Adopta</a>
    </div>
  </div>
</section>