<script type="text/javascript">
    var center = {{{centerData.location}}};
</script>


<section style="background-image:url('{{centerData.banner_url}}')" class="center-small-banner">
  <div class="center-title">
    {{centerData.name}}
  </div>
</section>
<section class="white-section">
 <div class="container">
    <p>{{centerData.location.coordinates}}</p>
    <p>{{centerData.description}}</p>
 </div>
</section>
<section>
    <div id="map"></div>
</section>


<section class="grey-section padding54">
    <h1>Nuestras mascotas</h1>
    <div class="container">    
  {{#each dogData}}
  <div class="card">
    <div class="picture" style="background-image:url('{{{this.picture_url}}}')"></div>
    <a href="/dogs/{{this._id}}">{{this.name}} </a> 
    <p>{{this.gender}} de {{this.relativeDate}}</p>
    <div class="social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-whatsapp"></i></a></div>
  </div>
  {{/each}}
</div>
</section>
