<script type="text/javascript">
    var center = {{{centerData.location}}};
</script>

<section class="center-banner">
    <div class="center-title">
      Cientos de perros buscan familia.
      <a class="btn-ghost" href="#">Encuentra tu mascota</a>
    </div>
</section>

<img stylesrc="{{centerData.banner_url}}">
<h1>{{centerData.name}}</h1>

<img height="100px" width="100px" src="{{centerData.logo_url}}">

<p>{{centerData.location.coordinates}}</p>
<p>{{centerData.description}}</p>
<div style="min-height:120px">
<h2>Nuestras mascotas</h2>
{{#each dogData}}
<li>
 <a href="/dogs/{{this._id}}">{{this.name}}</a>
</li>
{{/each}}
</div>
<p>{{centerData.address}}</p>
<div style="height:400px, width: 700px" id="map"></div>

