<section class="center-small-banner">
  <div class="center-title">
    Contactar con el centro de {{dog.name}}
  </div>
</section>

<section class="white-section padding56">
  <div class="container">

  <div class="column2 padding form-container">

    <form action="/become-admin" method="post">
  <label for="subject">Asunto</label>
  <input type="text" name="subject" value="Cita con {{dog.name}}"
  <br>
  <label for="user">Nombre de usuario</label>
  <input type="text" name="user" value="{{user.name}}">
  <br>

    <label for="user">Email</label>
  <input type="text" name="email" value="{{user.email}}">
  <br>

  <label for="center-name">Nombre del centro</label>
  <input type="text" name="center-name" value="{{dog.center.name}}">

  <label for="message">Mensaje</label><br>
  <textarea type="textarea" name="message" value="Hola, me llamo {{req.user.username}}"></textarea>
    <br>
  <button  type="submit">Enviar</button>
</form>
</div>
  </div>
</section>



