<section class="dogs-banner">
  <div class="dogs-title">
    Mascotas que te quieren conocer.
  </div>
  
  <div class="filter-menu">
   <div class="filter-block">
   <label for="breed">Sexo</label>
    <select type="select" class="form-control" id="filter-gender" name="breed" aria-describedby="size">
      <option>Ambos</option>
      <option>Macho</option>
      <option>Hembra</option>
    </select>
  </div>

  <div class="filter-block">
    <label for="breed">Raza</label>
    <select type="select" class="form-control" id="filter-breed" name="breed" aria-describedby="size">
      <option>Todas</option>
      <option>Bulldog</option>
      <option>Corgi</option>
      <option>Galgo</option>
      <option>Labrador</option>
      <option>Mestizo</option>
      <option>Pastor Alemán</option>
    </select>
  </div>



    <div class="filter-block">
    <label for="size">Tamaño</label>
    <select type="select" class="form-control" id="filter-size" name="filter-size" aria-describedby="size">
      <option>Todos</option>
      <option>Pequeño</option>
      <option>Mediano</option>
      <option>Grande</option>
    </select>
    </div>

    

</div>
</section>


{{relativeDate}}
<div class="container padding56">
  {{#each dogs}}

  <div data-gender="{{this.gender}}" data-breed="{{this.breed}}" data-size={{this.size}} class="card" id="dogCard">
    <div class="picture" style="background-image:url('{{{this.picture_url}}}')"></div>
    <a href="/dogs/{{this._id}}">{{this.name}} </a> 
    <p>{{this.breed}}<br>{{this.gender}} de {{this.relativeDate}}</p>
  
    <div class="social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="whatsapp://send?text=¡Conoce a {{this.name}} en Madrid Adopta! http://www.madridadopta/dogs/{{this._id}}" data-action="share/whatsapp/share"><i class="fab fa-whatsapp"></i></a></div>
  </div>
  {{/each}}
</div>

<section class="white-section padding56">
    <div class="container">
      <div class="column2 shadow" style="background-image:url('http://res.cloudinary.com/abdaio/image/upload/c_scale,w_1016/v1524593963/puppy.jpg')">

      </div>
      <div class="column2">
          <h3 class="accent">Lo que tienes que saber a la hora de adoptar</h3>
          <p>
            Cuando se acercan fiestas importantes, como las Navidades, a mucha gente le ronda la idea de añadir un nuevo miembro a la familia: un cachorro de perro. Sin embargo, esta es una decisión que hay que meditar. No valen las prisas y es preciso asegurarse de qué es lo que se está haciendo.          </p>
          <p>
            Cuando se adopta un cachorro se da por hecho que el perro vivirá con su nueva familia para toda su vida, que con suerte será de 12 o 15 años aproximadamente, así que es un compromiso muy importante. Por eso, debes tener en cuenta estos consejos antes de hacerte con una cría:          </p>
          <p>
            <span class="standard-link">Leer más <i class="fas fa-chevron-right"></i></span>
          </p>
      </div>
    </div>
  </section>
</div>
</div>

</div>

<script>
  $(document).ready(function(){
    
    var genderVar = $("select#filter-gender").val();
    var sizeVar = $("select#filter-size").val();
    var breedVar = $("select#filter-breed").val();

    
    // Gender filter
    $("select#filter-gender").on('change', function(){
      genderVar = $("select#filter-gender").val();
      if (genderVar !== 'Ambos'){
       $(".card[data-gender!="+genderVar+"]").hide();
        $(".card[data-gender="+genderVar+"]").show();
      }
      else{
         $(".card[data-gender='Macho']").show();
         $(".card[data-gender='Hembra']").show();
      }
    });
    
    // Size filter
    $("select#filter-size").on('change', function(){
      sizeVar = $("select#filter-size").val();
      if (sizeVar !== 'Todos'){
       $(".card[data-size!="+sizeVar+"]").hide();
        $(".card[data-size="+sizeVar+"]").show();
      }
      else{
         $(".card[data-size!='']").show();
      }
    });
      // Breed filter
      $("select#filter-breed").on('change', function(){
      breedVar = $("select#filter-breed").val();
      if (breedVar !== 'Todas'){
        $(".card[data-breed!="+breedVar+"]").hide();
        $(".card[data-breed="+breedVar+"]").show();
      }
      else{
         $(".card[data-breed!='']").show();
      }
      
     
    
    });
      
  })
</script>
